.advantages {
  background: url("../img/polygons.jpg") center no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/polygons@2x.jpg") center no-repeat;
    background-size: cover;
  }
}

.advantages__wrapper {
  margin-top: 110px;

  @media (max-width: $tablet-width) {
    margin-top: 52px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 33px;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include reset-list;
}

.advantages__item {
  padding: 40px 40px 0 43px;
  margin: 0 30px 28px 0;
  width: calc(50% - 15px);
  min-height: 300px;
  border: 1px solid $smoky;
  border-left: 3px solid $blue;
  background-color: white;
  transition: all 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    background-color: $blue;

    .advantages__icon {
      fill: $blue;
    }

    .advantages__description,
    .advantages__title,
    .advantages__icon {
      color: white;
      fill: white;
    }
  }

  &:nth-child(2n) {
    margin-right: 0;
  }

  .advantages__icon--stopwatch {
    width: 29px;
    height: 35px;
  }

  .advantages__icon--hired {
    width: 35px;
    height: 35px;
  }

  .advantages__icon--detective {
    width: 36px;
    height: 31px;
  }

  .advantages__icon--tag {
    width: 35px;
    height: 35px;
  }


  @media (max-width: $tablet-width) {
    .advantages__item {
      padding: 23px 22px 0 25px;
      min-height: 232px;
    }

    .advantages__icon--stopwatch {
      width: 30px;
      height: 36px;
    }

    .advantages__icon--hired {
      width: 32px;
      height: 32px;
    }

    .advantages__icon--detective {
      width: 37px;
      height: 31px;
    }

    .advantages__icon--tag {
      width: 36px;
      height: 35px;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 20px;
    padding: 30px 13px 24px 25px;
    width: 100%;

    &:nth-child(2n) {
      padding-right: 7px;
    }

    &:nth-child(3n) {
      padding-right: 15px;
    }

    &:nth-child(4n) {
      padding-right: 15px;
    }
  }
}

.advantages__title,
.advantages__description {
  color: white;
}

.advantages__icon {
  fill: $blue;
}

.advantages__title {
  margin: 15px 0;
  font-family: $robotoCondensed;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  color: $blue;

  @media (max-width: $tablet-width) {
    margin: 6px 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 28px;

    &:nth-child(3) {
      margin: -3px;
    }
  }
}

.advantages__description {
  @include reset-p;
  font-size: 16px;
  line-height: 22px;
  color: $dark-grey;

  @media (max-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0;
  }
}
