.feedback {
  background: $blue url("../img/polygons-feedback.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 0 left -130px, center;

  @media (max-width: $tablet-width) {
    background: none;
    background-color: $blue;
  }
}

.feedback__wrapper {
  display: flex;
  padding-top: 92px;
  padding-bottom: 111px;

  @media (max-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 105px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 29px;
    padding-bottom: 45px;
  }
}

.feedback__title {
  margin: 0 0 10px;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  font-family: $robotoCondensed;

  @media (max-width: $tablet-width) {
    margin: 0 0 13px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.feedback__info {
  @include reset-p;
  margin-bottom: 51px;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 27px;
  }
}

.feedback__img {
  position: relative;
  width: 50%;
  height: 288px;
  top: 72px;
  left: -27px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
}

.feedback__form-wrapper {
  padding-left: 15px;
  width: 50%;

  @media (max-width: $tablet-width) {
    padding: 0 67px;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.feedback__form textarea,
.feedback__form input {
  font-family: inherit;
  text-align: left;
  background: $light-blue;
  border: 0;

  &::placeholder {
    color: white;
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__form input {
  margin-bottom: 36px;
  padding: 15px 14px 18px 24px;
  width: 48%;

  @media (max-width: $tablet-width) {
    margin-bottom: 42px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
    padding-left: 17px;
    width: 100%;
  }

  &:first-of-type {
    margin-right: 4%;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }

  &:focus {
    outline: 1px solid white;
  }

  &:hover {
    opacity: 0.7;
  }
}

.feedback__form textarea {
  margin-bottom: 52px;
  padding: 20px;
  width: 100%;
  min-height: 154px;
  resize: none;
  outline: 0;

  &:focus {
    outline: 1px solid white;
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 53px;
    padding: 15px;
    min-height: 159px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 8px;
    padding-left: 16px;
    margin-bottom: 28px;
    min-height: 104px;
  }
}

.feedback__form-btn {
  align-self: baseline;
  padding: 12px 0;
  width: 47%;
  font-family: $robotoCondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid white;
  outline: none;

  &:hover {
    color: $blue;
    background-color: white;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 29px;
    padding: 14px 0;
    width: 100%;
  }
}

.feedback__form input[type="checkbox"] {
  display: none;
}

.feedback__form label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: inline-block;
  }

  &::before {
    height: 19px;
    width: 19px;
    border: 1px solid;
    top: 5px;
    left: -34px;

    @media (max-width: $mobile-width) {
      height: 16px;
      width: 16px;
      top: 2px;
      left: -33px;
    }
  }

  &::after {
    height: 6px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -27px;
    top: 9px;

    @media (max-width: $mobile-width) {
      top: 4px;
    }
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 22px;
  }
}

.feedback__form-group {
  width: 50%;
  padding-left: 74px;


  @media (max-width: $tablet-width) {
    & label {
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media (max-width: $mobile-width) {
    padding-left: 33px;
    width: 100%;
  }
}

.feedback__form-group input[type="checkbox"] + label::after {
  content: none;
}

.feedback__form-group input[type="checkbox"]:checked + label::after {
  content: "";
}
